@mixin mobile {
  @media only screen and (orientation: portrait), only screen and (max-width: 768px) {
    @content;
  }
}
#paper-canvas {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -1;
	overflow: visible;
}
html {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: "Work Sans", sans-serif;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	-ms-animation: fadein 2s;
	-o-animation: fadein 2s;
	animation: fadein 2s;
	@include mobile {
		font-size: 1.5vmin;
	}
}
body {
	margin: 0;
	height: 100%;
	width: 100%;
}
.header {
	text-align: center;
	padding: 1em;
}
.blog-link-container {
	text-align: center;
	padding: 2em;
}
.blog-link {
	text-decoration: none;
	color: #3885F9;
	transition: opacity .125s;
	@include mobile {
		font-size: 2em;
	}
}
.blog-link:hover {
	opacity: .75;
}

.game-info {
	display: flex;
	padding: 2em 5em 0 5em;
	p {
		line-height: 1.5em;
	}	
}
.game-description {
	flex: 3;
	height: 30em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	@include mobile {
		padding-left: 2em;
	    height: 25em;
	    font-size: 2em;
	}
	a, p {
		margin: 0;
	}
}
.prism-gif {
	flex: 1;
	padding-right: 2em;
}
.prism-gif-image {
    border-radius: 1em;
    height: 15em;
    @include mobile {
    	height: 25em;
    }
}
.above-screenshots {
	padding: 2em 5em;
	line-height: 1.5em;
	@include mobile {
		padding: 1em 2em;
		font-size: 2em;
	}
}
.screenshots {
	display: flex;
    padding: 0 5em;
    justify-content: space-between;
}
.prism-screenshot {
	border-radius: 1em;
	height: 10em;
}
.prism {
	display: inline-block;
    font-weight: 300;
    font-size: 10em;
    @include mobile {
    	font-weight: 400;
    }
    .P {
        color: #FF6978;
    }
    .R {
        color: #4CEDDE;
    }
    .I {
        color: #94EA54;
    }
    .S {
        color: #C85ED8;
    }
    .M {
        color: #3885F9;
    }
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.prism:hover {
	cursor: default;
    .P {
        color: #3885F9;
    }
    .R {
        color: #FF6978;
    }
    .I {
        color: #4CEDDE;
    }
    .S {
        color: #94EA54;
    }
    .M {
        color: #C85ED8;
    }
}
.letter {
    padding-left: 5px;
    padding-right: 5px;
    transition: all .125s;
}
.subtitle {
	font-size: 1em;
	@include mobile {
		font-size: 2em;
	}
}
.subtitle:hover {
	cursor: default;
}