@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes changeSizeRed {
    0% { width: 10em; height: 10em; }
    50% { width: 5em; height: 5em; }
    100% { width: 10em; height: 10em; }
}
@keyframes changeSizeRed {
    0% { width: 10em; height: 10em; }
    50% { width: 5em; height: 5em; }
    100% { width: 10em; height: 10em; }
}
@-moz-keyframes changeSizeRed {
    0% { width: 10em; height: 10em; }
    50% { width: 5em; height: 5em; }
    100% { width: 10em; height: 10em; }
}

@-webkit-keyframes changeSizeRed {
    0% { width: 10em; height: 10em; }
    50% { width: 5em; height: 5em; }
    100% { width: 10em; height: 10em; }
}

@-ms-keyframes changeSizeRed {
    0% { width: 10em; height: 10em; }
    50% { width: 5em; height: 5em; }
    100% { width: 10em; height: 10em; }
}

@-o-keyframes changeSizeRed {
    0% { width: 10em; height: 10em; }
    50% { width: 5em; height: 5em; }
    100% { width: 10em; height: 10em; }
}
@-o-keyframes changeSizeGreen {
    0% { top: 10%; left: 10%; bottom: 10%; right: 10%; border-radius: 1em; }
    50% { top: 15%; left: 15%; bottom: 15%; right: 15%; border-radius: .5em; }
    100% { top: 10%; left: 10%; bottom: 10%; right: 10%; border-radius: 1em; }
}
@keyframes changeSizeGreen {
    0% { top: 10%; left: 10%; bottom: 10%; right: 10%; border-radius: 1em; }
    50% { top: 15%; left: 15%; bottom: 15%; right: 15%; border-radius: .5em; }
    100% { top: 10%; left: 10%; bottom: 10%; right: 10%; border-radius: 1em; }
}
@-moz-keyframes changeSizeGreen {
    0% { top: 10%; left: 10%; bottom: 10%; right: 10%; border-radius: 1em; }
    50% { top: 15%; left: 15%; bottom: 15%; right: 15%; border-radius: .5em; }
    100% { top: 10%; left: 10%; bottom: 10%; right: 10%; border-radius: 1em; }
}

@-webkit-keyframes changeSizeGreen {
    0% { top: 10%; left: 10%; bottom: 10%; right: 10%; border-radius: 1em; }
    50% { top: 15%; left: 15%; bottom: 15%; right: 15%; border-radius: .5em; }
    100% { top: 10%; left: 10%; bottom: 10%; right: 10%; border-radius: 1em; }
}

@-ms-keyframes changeSizeGreen {
    0% { top: 10%; left: 10%; bottom: 10%; right: 10%; border-radius: 1em; }
    50% { top: 15%; left: 15%; bottom: 15%; right: 15%; border-radius: .5em; }
    100% { top: 10%; left: 10%; bottom: 10%; right: 10%; border-radius: 1em; }
}

@-o-keyframes changeSizeGreen {
    0% { top: 10%; left: 10%; bottom: 10%; right: 10%; border-radius: 1em; }
    50% { top: 15%; left: 15%; bottom: 15%; right: 15%; border-radius: .5em; }
    100% { top: 10%; left: 10%; bottom: 10%; right: 10%; border-radius: 1em; }
}
@-o-keyframes changeSizeBlue {
    0% { top: 20%; left: 20%; bottom: 20%; right: 20%; border-radius: 1em; }
    50% { top: 30%; left: 30%; bottom: 30%; right: 30%; border-radius: .5em; }
    100% { top: 20%; left: 20%; bottom: 20%; right: 20%; border-radius: 1em; }
}
@keyframes changeSizeBlue {
    0% { top: 20%; left: 20%; bottom: 20%; right: 20%; border-radius: 1em; }
    50% { top: 30%; left: 30%; bottom: 30%; right: 30%; border-radius: .5em; }
    100% { top: 20%; left: 20%; bottom: 20%; right: 20%; border-radius: 1em; }
}
@-moz-keyframes changeSizeBlue {
    0% { top: 20%; left: 20%; bottom: 20%; right: 20%; border-radius: 1em; }
    50% { top: 30%; left: 30%; bottom: 30%; right: 30%; border-radius: .5em; }
    100% { top: 20%; left: 20%; bottom: 20%; right: 20%; border-radius: 1em; }
}

@-webkit-keyframes changeSizeBlue {
    0% { top: 20%; left: 20%; bottom: 20%; right: 20%; border-radius: 1em; }
    50% { top: 30%; left: 30%; bottom: 30%; right: 30%; border-radius: .5em; }
    100% { top: 20%; left: 20%; bottom: 20%; right: 20%; border-radius: 1em; }
}

@-ms-keyframes changeSizeBlue {
    0% { top: 20%; left: 20%; bottom: 20%; right: 20%; border-radius: 1em; }
    50% { top: 30%; left: 30%; bottom: 30%; right: 30%; border-radius: .5em; }
    100% { top: 20%; left: 20%; bottom: 20%; right: 20%; border-radius: 1em; }
}

@-o-keyframes changeSizeBlue {
    0% { top: 20%; left: 20%; bottom: 20%; right: 20%; border-radius: 1em; }
    50% { top: 30%; left: 30%; bottom: 30%; right: 30%; border-radius: .5em; }
    100% { top: 20%; left: 20%; bottom: 20%; right: 20%; border-radius: 1em; }
}