$white: #fffdfc;
$creamy-white: #fff3f3;
$dark-white: #6f6f6f;
$white-opaque: rgba(255, 253, 252, 0.35);
$white-less-opaque: rgba(255, 253, 252, 0.8);
$creamy-white-opaque: rgba(255, 243, 243, 0.35);
$creamy-white-less-opaque: rgba(255, 243, 243, 0.8);
$black: #464B63;
$dark-black: #252525;
$light-black: #5a5979;
$grey: #b6b5d0;
$grey-opaque: rgba(182, 181, 208, 0.35);
$black-opaque: rgba(70, 75, 99, 0.35);
$black-less-opaque: rgba(70, 75, 99, 0.8);
$red: #FF6978;
$red-opaque: rgba(255, 105, 120, 0.35);
$red-less-opaque: rgba(255, 105, 120, 0.8);
$dark-red: #4e0009;
$light-red: #ff919c;
$green: #94EA54;
$dark-green: #225000;
$light-green: #baff87;
$green-opaque: rgba(148, 234, 84, 0.35);
$green-less-opaque: rgba(148, 234, 84, 0.8);
$blue: #5699fd;
$light-blue: #6aa5ff;
$dark-blue: #003179;
$blue-opaque: rgba(86, 153, 253, 0.35);
$blue-less-opaque: rgba(86, 153, 253, 0.8);
$magenta: #b16cf5;
$dark-magenta: #4b2e67;
$light-magenta: #c182ff;
$magenta-opaque: rgba(177, 108, 245, 0.35);
$magenta-less-opaque: rgba(177, 108, 245, 0.8);
$cyan: #4CEDDE;
$dark-cyan: #173c38;
$light-cyan: #6bfff2;
$cyan-opaque: rgba(76, 237, 222, 0.35);
$cyan-less-opaque: rgba(76, 237, 222, 0.8);
$yellow: #fffa6c;
$dark-yellow: #52501b;
$light-yellow: #fffcc0;
$yellow-opaque: rgba(255, 250, 108, 0.35);
$yellow-less-opaque: rgba(255, 250, 108, 0.8);
