@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
body {
  background-color: #fffdfc;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  color: #464B63; }

.main-screen, .game-area {
  transition: visibility 0s, opacity .25s;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s; }

.game-area {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .game-area {
      flex-direction: column; } }

.game-board-wrapper {
  flex: 2; }

.game-board:focus {
  outline: none; }

.before-game-board {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .before-game-board {
      flex-direction: row; } }

.after-game-board {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .after-game-board {
      flex-direction: row; } }

.bottom-game-buttons {
  display: flex;
  align-items: center;
  flex-basis: 33.33%; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .bottom-game-buttons {
      justify-content: center; } }

.return-home-btn, .help-btn, .sound-toggle-btn, .reset-btn, .hint-btn {
  font-size: 5em;
  transition: opacity .25s; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .return-home-btn, .help-btn, .sound-toggle-btn, .reset-btn, .hint-btn {
      font-size: 3em; } }

.return-home-btn:hover, .help-btn:hover, .sound-toggle-btn:hover, .reset-btn:hover, .hint-btn:hover {
  cursor: pointer;
  opacity: .75; }

.help-overlay {
  position: fixed;
  z-index: 2;
  background-color: rgba(70, 75, 99, 0.95);
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  transition: visibility .26s, opacity .25s; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .help-overlay {
      flex-direction: column; } }

.venndiagram {
  height: 45vh;
  width: 60vh; }

.help-text {
  color: #fffdfc;
  padding: 1em 1em;
  font-size: 3em; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .help-text {
      font-size: 1.25em;
      padding: 1em 2em; } }

.help-overlay-close-btn {
  position: absolute;
  top: .5em;
  right: .5em;
  color: #fffdfc;
  font-size: 5em;
  transition: opacity .25s; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .help-overlay-close-btn {
      font-size: 3em; } }

.help-overlay-close-btn:hover {
  opacity: .75;
  cursor: pointer; }

.open {
  visibility: visible;
  opacity: 1; }

.hidden {
  visibility: hidden;
  opacity: 0;
  overflow: hidden; }

.level-pack-background {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  visibility: hidden;
  opacity: 0;
  transition: visibility .25s, opacity .25s; }

.level-pack {
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1em;
  border: 5px solid #464B63;
  width: 75vw;
  height: 80vh;
  visibility: hidden;
  opacity: 0;
  transition: visibility .25s, opacity .25s; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .level-pack {
      width: 90vw;
      height: 80vh; } }

.pack-open {
  visibility: visible;
  opacity: 1; }

.level-pack-inner {
  padding: 1em 2em;
  position: relative; }

.pack-header {
  text-align: center; }

.close-pack-btn {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 2em;
  transition: opacity .25s; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .close-pack-btn {
      top: .5em;
      right: .5em; } }

.close-pack-btn:hover {
  opacity: .75;
  cursor: pointer; }

.modal-open {
  overflow-y: hidden; }

.levels-grid {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 64vh; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .levels-grid {
      height: 60vh; } }

.level-btn {
  position: relative;
  flex: 0 1 calc(20% - 2em);
  margin: 1em;
  border-radius: 2em;
  transition: opacity .25s;
  align-self: flex-start;
  transition: opacity .25s; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .level-btn {
      flex-basis: calc(33.33% - 1em);
      margin: .5em;
      border-radius: 1em; } }

.level-btn:after {
  content: "";
  display: block;
  padding-bottom: 100%; }

.level-btn:hover {
  opacity: .75;
  cursor: pointer; }

.level-btn-text {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em; }

.btn-red {
  background-color: #ff919c; }

.btn-green {
  background-color: #baff87; }

.btn-blue {
  background-color: #6aa5ff; }

.btn-magenta {
  background-color: #dc6eec; }

.dashboard {
  margin: 2em;
  background-color: #fff3f3;
  border-radius: 1em; }

.dashboard-panel {
  display: flex;
  flex-direction: column;
  align-items: center; }

.stats-list, .leaderboards-list {
  line-height: 2em;
  margin-top: 0;
  align-self: left; }

.stats-header, .leaderboards-header, .daily-challenge-header {
  font-weight: 300;
  margin-bottom: .5em; }

.header {
  text-align: center; }

.prism {
  padding-top: .25em;
  display: inline-block;
  font-weight: 300;
  font-size: 7.5em; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .prism {
      font-weight: 400;
      font-size: 5em; } }
  .prism .P {
    color: #FF6978; }
  .prism .R {
    color: #4CEDDE; }
  .prism .I {
    color: #94EA54; }
  .prism .S {
    color: #C85ED8; }
  .prism .M {
    color: #3885F9; }

.prism:hover {
  cursor: default; }
  .prism:hover .P {
    color: #3885F9; }
  .prism:hover .R {
    color: #FF6978; }
  .prism:hover .I {
    color: #4CEDDE; }
  .prism:hover .S {
    color: #94EA54; }
  .prism:hover .M {
    color: #C85ED8; }

.letter {
  padding-left: 5px;
  padding-right: 5px;
  transition: all .125s; }

.subtitle {
  font-size: 1em; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .subtitle {
      font-size: .75em; } }

.subtitle:hover {
  cursor: default; }

.packs-container {
  display: flex;
  flex-flow: row wrap;
  position: relative; }

.pack-content {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column; }
  .pack-content p {
    margin: 0; }

.pack-content-info {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity .25s;
  font-size: 2vw; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .pack-content-info {
      display: none; } }

.completion {
  padding-bottom: 1em; }

.pack-content:hover > .pack-content-info {
  opacity: 1;
  visibility: visible; }

.pack-title {
  padding-top: 1em;
  font-size: 3vw; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .pack-title {
      font-size: 5vw;
      padding-top: 0em; } }

.pack {
  position: relative;
  flex: 0 1 calc(33.33% - 6em);
  margin: 3em;
  border-radius: 3em;
  transition: opacity .25s; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .pack {
      flex-basis: calc(50% - 2em);
      margin: 1em;
      border-radius: 1em; } }

.pack:after {
  content: "";
  display: block;
  padding-bottom: 100%; }

.pack:hover {
  cursor: pointer;
  opacity: .75; }

.packred {
  color: #840010;
  background-color: #FF6978; }

.packredbg {
  background-color: rgba(255, 105, 120, 0.35); }

.packblue {
  color: #003c96;
  background-color: #3885F9; }

.packbluebg {
  background-color: rgba(56, 133, 249, 0.35); }

.packgreen {
  color: #347900;
  background-color: #94EA54; }

.packgreenbg {
  background-color: rgba(148, 234, 84, 0.35); }

.packmagenta {
  color: #700080;
  background-color: #C85ED8; }

.packmagentabg {
  background-color: rgba(200, 94, 216, 0.35); }

/*# sourceMappingURL=index.css.map */
