@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeinout {
  0% {
    opacity: 1; }
  50% {
    opacity: .25; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeinout {
  0% {
    opacity: 1; }
  50% {
    opacity: .25; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeinout {
  0% {
    opacity: 1; }
  50% {
    opacity: .25; }
  100% {
    opacity: 1; } }
@-ms-keyframes fadeinout {
  0% {
    opacity: 1; }
  50% {
    opacity: .25; }
  100% {
    opacity: 1; } }
@-o-keyframes fadeinout {
  0% {
    opacity: 1; }
  50% {
    opacity: .25; }
  100% {
    opacity: 1; } }
@-o-keyframes changeSizeRed {
  0% {
    width: 10em;
    height: 10em; }
  50% {
    width: 5em;
    height: 5em; }
  100% {
    width: 10em;
    height: 10em; } }
@keyframes changeSizeRed {
  0% {
    width: 10em;
    height: 10em; }
  50% {
    width: 5em;
    height: 5em; }
  100% {
    width: 10em;
    height: 10em; } }
@-moz-keyframes changeSizeRed {
  0% {
    width: 10em;
    height: 10em; }
  50% {
    width: 5em;
    height: 5em; }
  100% {
    width: 10em;
    height: 10em; } }
@-webkit-keyframes changeSizeRed {
  0% {
    width: 10em;
    height: 10em; }
  50% {
    width: 5em;
    height: 5em; }
  100% {
    width: 10em;
    height: 10em; } }
@-ms-keyframes changeSizeRed {
  0% {
    width: 10em;
    height: 10em; }
  50% {
    width: 5em;
    height: 5em; }
  100% {
    width: 10em;
    height: 10em; } }
@keyframes changeSizeRedMobile {
  0% {
    width: 5em;
    height: 5em; }
  50% {
    width: 2.5em;
    height: 2.5em; }
  100% {
    width: 5em;
    height: 5em; } }
@-moz-keyframes changeSizeRedMobile {
  0% {
    width: 5em;
    height: 5em; }
  50% {
    width: 2.5em;
    height: 2.5em; }
  100% {
    width: 5em;
    height: 5em; } }
@-webkit-keyframes changeSizeRedMobile {
  0% {
    width: 5em;
    height: 5em; }
  50% {
    width: 2.5em;
    height: 2.5em; }
  100% {
    width: 5em;
    height: 5em; } }
@-ms-keyframes changeSizeRedMobile {
  0% {
    width: 5em;
    height: 5em; }
  50% {
    width: 2.5em;
    height: 2.5em; }
  100% {
    width: 5em;
    height: 5em; } }
@-o-keyframes changeSizeRedMobile {
  0% {
    width: 5em;
    height: 5em; }
  50% {
    width: 2.5em;
    height: 2.5em; }
  100% {
    width: 5em;
    height: 5em; } }
@-o-keyframes changeSizeGreen {
  0% {
    top: 10%;
    left: 10%;
    bottom: 10%;
    right: 10%;
    border-radius: 1em; }
  50% {
    top: 15%;
    left: 15%;
    bottom: 15%;
    right: 15%;
    border-radius: .5em; }
  100% {
    top: 10%;
    left: 10%;
    bottom: 10%;
    right: 10%;
    border-radius: 1em; } }
@keyframes changeSizeGreen {
  0% {
    top: 10%;
    left: 10%;
    bottom: 10%;
    right: 10%;
    border-radius: 1em; }
  50% {
    top: 15%;
    left: 15%;
    bottom: 15%;
    right: 15%;
    border-radius: .5em; }
  100% {
    top: 10%;
    left: 10%;
    bottom: 10%;
    right: 10%;
    border-radius: 1em; } }
@-moz-keyframes changeSizeGreen {
  0% {
    top: 10%;
    left: 10%;
    bottom: 10%;
    right: 10%;
    border-radius: 1em; }
  50% {
    top: 15%;
    left: 15%;
    bottom: 15%;
    right: 15%;
    border-radius: .5em; }
  100% {
    top: 10%;
    left: 10%;
    bottom: 10%;
    right: 10%;
    border-radius: 1em; } }
@-webkit-keyframes changeSizeGreen {
  0% {
    top: 10%;
    left: 10%;
    bottom: 10%;
    right: 10%;
    border-radius: 1em; }
  50% {
    top: 15%;
    left: 15%;
    bottom: 15%;
    right: 15%;
    border-radius: .5em; }
  100% {
    top: 10%;
    left: 10%;
    bottom: 10%;
    right: 10%;
    border-radius: 1em; } }
@-ms-keyframes changeSizeGreen {
  0% {
    top: 10%;
    left: 10%;
    bottom: 10%;
    right: 10%;
    border-radius: 1em; }
  50% {
    top: 15%;
    left: 15%;
    bottom: 15%;
    right: 15%;
    border-radius: .5em; }
  100% {
    top: 10%;
    left: 10%;
    bottom: 10%;
    right: 10%;
    border-radius: 1em; } }
@-o-keyframes changeSizeBlue {
  0% {
    top: 20%;
    left: 20%;
    bottom: 20%;
    right: 20%;
    border-radius: 1em; }
  50% {
    top: 30%;
    left: 30%;
    bottom: 30%;
    right: 30%;
    border-radius: .5em; }
  100% {
    top: 20%;
    left: 20%;
    bottom: 20%;
    right: 20%;
    border-radius: 1em; } }
@keyframes changeSizeBlue {
  0% {
    top: 20%;
    left: 20%;
    bottom: 20%;
    right: 20%;
    border-radius: 1em; }
  50% {
    top: 30%;
    left: 30%;
    bottom: 30%;
    right: 30%;
    border-radius: .5em; }
  100% {
    top: 20%;
    left: 20%;
    bottom: 20%;
    right: 20%;
    border-radius: 1em; } }
@-moz-keyframes changeSizeBlue {
  0% {
    top: 20%;
    left: 20%;
    bottom: 20%;
    right: 20%;
    border-radius: 1em; }
  50% {
    top: 30%;
    left: 30%;
    bottom: 30%;
    right: 30%;
    border-radius: .5em; }
  100% {
    top: 20%;
    left: 20%;
    bottom: 20%;
    right: 20%;
    border-radius: 1em; } }
@-webkit-keyframes changeSizeBlue {
  0% {
    top: 20%;
    left: 20%;
    bottom: 20%;
    right: 20%;
    border-radius: 1em; }
  50% {
    top: 30%;
    left: 30%;
    bottom: 30%;
    right: 30%;
    border-radius: .5em; }
  100% {
    top: 20%;
    left: 20%;
    bottom: 20%;
    right: 20%;
    border-radius: 1em; } }
@-ms-keyframes changeSizeBlue {
  0% {
    top: 20%;
    left: 20%;
    bottom: 20%;
    right: 20%;
    border-radius: 1em; }
  50% {
    top: 30%;
    left: 30%;
    bottom: 30%;
    right: 30%;
    border-radius: .5em; }
  100% {
    top: 20%;
    left: 20%;
    bottom: 20%;
    right: 20%;
    border-radius: 1em; } }
body {
  background-color: #fffdfc;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  color: #464B63; }

.margin-top-loader {
  margin-top: 5em; }

.blur {
  filter: blur(5px); }

#loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

#loader {
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10em;
  height: 10em;
  border: 3px solid rgba(255, 105, 120, 0.8);
  background-color: rgba(255, 105, 120, 0.8);
  z-index: 1500;
  border-radius: 1em;
  -webkit-animation: fadein 1s, changeSizeRed 2s ease-in-out infinite;
  -moz-animation: fadein 1s, changeSizeRed 2s ease-in-out infinite;
  -ms-animation: fadein 1s, changeSizeRed 2s ease-in-out infinite;
  -o-animation: fadein 1s, changeSizeRed 2s ease-in-out infinite;
  animation: fadein 1s, changeSizeRed 2s ease-in-out infinite; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    #loader {
      width: 5em;
      height: 5em;
      -webkit-animation: fadein 1s, changeSizeRedMobile 2s ease-in-out infinite;
      -moz-animation: fadein 1s, changeSizeRedMobile 2s ease-in-out infinite;
      -ms-animation: fadein 1s, changeSizeRedMobile 2s ease-in-out infinite;
      -o-animation: fadein 1s, changeSizeRedMobile 2s ease-in-out infinite;
      animation: fadein 1s, changeSizeRedMobile 2s ease-in-out infinite; } }

#loader:before {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  border: 3px solid rgba(148, 234, 84, 0.8);
  background-color: rgba(148, 234, 84, 0.8);
  border-radius: 1em;
  -webkit-animation: fadein 1s, changeSizeGreen 1.33s ease-out infinite;
  -moz-animation: fadein 1s, changeSizeGreen 1.33s ease-out infinite;
  -ms-animation: fadein 1s, changeSizeGreen 1.33s ease-out infinite;
  -o-animation: fadein 1s, changeSizeGreen 1.33s ease-out infinite;
  animation: fadein 1s, changeSizeGreen 1.33s ease-out infinite; }

#loader:after {
  content: "";
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  border: 3px solid rgba(86, 153, 253, 0.8);
  background-color: rgba(86, 153, 253, 0.8);
  border-radius: 1em;
  -webkit-animation: fadein 1s, changeSizeBlue .66s ease-in-out infinite;
  -moz-animation: fadein 1s, changeSizeBlue .66s ease-in-out infinite;
  -ms-animation: fadein 1s, changeSizeBlue .66s ease-in-out infinite;
  -o-animation: fadein 1s, changeSizeBlue .66s ease-in-out infinite;
  animation: fadein 1s, changeSizeBlue .66s ease-in-out infinite; }

#loader-text {
  display: block;
  position: fixed;
  left: 50%;
  top: 70%;
  font-size: 2em;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 10em;
  -webkit-animation: fadein 1s, fadeinout 2s ease-in-out infinite;
  -moz-animation: fadein 1s, fadeinout 2s ease-in-out infinite;
  -ms-animation: fadein 1s, fadeinout 2s ease-in-out infinite;
  -o-animation: fadein 1s, fadeinout 2s ease-in-out infinite;
  animation: fadein 1s, fadeinout 2s ease-in-out infinite;
  -webkit-animation-delay: 0s, 1s;
  -moz-animation-delay: 0s, 1s;
  -ms-animation-delay: 0s, 1s;
  -o-animation-delay: 0s, 1s;
  animation-delay: 0s, 1s; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    #loader-text {
      top: 75%;
      font-size: 1em; } }

.level-pack-area {
  position: relative; }

.header, .level-pack-area, .before-game-board, .game-board-wrapper, .after-game-board {
  transition: .125s filter linear;
  -webkit-transition: .125s -webkit-filter linear;
  -moz-transition: .125s -moz-filter linear;
  -ms-transition: .125s -ms-filter linear;
  -o-transition: .125s -o-filter linear; }

.main-screen, .game-area {
  transition: visibility 0s, opacity .25s;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s; }

.game-area {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  transition: visibility 2s, opacity 2s; }
  @media only screen and (orientation: portrait) {
    .game-area {
      flex-direction: column; } }

.game-board-wrapper {
  flex: 2;
  padding: .5em;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (orientation: portrait) {
    .game-board-wrapper {
      padding: 7em 0; } }

.game-board:focus {
  outline: none; }

.before-game-board {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }
  @media only screen and (orientation: portrait) {
    .before-game-board {
      flex-direction: row; } }

.after-game-board {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }
  @media only screen and (orientation: portrait) {
    .after-game-board {
      flex-direction: row; } }

.in-game-buttons {
  display: flex;
  align-items: center;
  flex-basis: 33.33%; }
  @media only screen and (orientation: portrait) {
    .in-game-buttons {
      justify-content: center; } }

.dashboard-toggle-main, .sound-toggle-main {
  transition: opacity .25s; }

.return-home-btn, .help-btn, .sound-toggle-btn, .reset-btn, .hint-btn, .move-count {
  position: relative;
  font-size: 5em;
  transition: opacity .25s; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .return-home-btn, .help-btn, .sound-toggle-btn, .reset-btn, .hint-btn, .move-count {
      font-size: 3em; } }

.move-count:hover {
  cursor: default; }

.return-home-btn:hover, .help-btn:hover, .sound-toggle-btn:hover, .reset-btn:hover, .sound-toggle-main:hover, .dashboard-toggle-main:hover,
.pack-complete-exit-btn:hover, .pack-complete-restart-btn:hover, .close-dashboard-btn:hover {
  cursor: pointer;
  opacity: .75; }

.close-dashboard-btn {
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 2em;
  transition: opacity .25s;
  z-index: 3; }

.hint-btn {
  opacity: .75; }

.hint-btn:hover {
  cursor: not-allowed; }

.help-overlay {
  position: fixed;
  z-index: 2;
  background-color: rgba(70, 75, 99, 0.95);
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  transition: visibility .26s, opacity .25s; }
  @media only screen and (orientation: portrait) {
    .help-overlay {
      flex-direction: column; } }

.venndiagram {
  height: 45vh;
  width: 60vh; }

.help-text {
  color: #fffdfc;
  padding: 1em 1em;
  font-size: 3em; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .help-text {
      font-size: 1.25em;
      padding: 1em 2em; } }

.help-overlay-close-btn {
  position: absolute;
  top: .5em;
  right: .5em;
  color: #fffdfc;
  font-size: 5em;
  transition: opacity .25s; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .help-overlay-close-btn {
      font-size: 3em; } }

.help-overlay-close-btn:hover {
  opacity: .75;
  cursor: pointer; }

.pack-complete-modal-overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  visibility: hidden;
  opacity: 0;
  transition: visibility .25s, opacity .25s; }

.pack-complete-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  padding: 1em;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1em;
  width: 45vw;
  height: 40vh;
  visibility: hidden;
  opacity: 0;
  transition: visibility .25s, opacity .25s; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .pack-complete-modal {
      width: 80vw;
      height: 35vh;
      padding: 1em; } }
  @media only screen and (max-width: 800px) and (orientation: landscape) {
    .pack-complete-modal {
      width: 50vw;
      height: 80vh; } }

.pack-complete-modal-inner, .pack-complete-modal-inner-white {
  background-color: #ff919c;
  border-radius: 1em;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .pack-complete-modal-inner, .pack-complete-modal-inner-white {
      padding: 15% 0; } }

.pack-complete-modal-inner-white {
  background-color: #fffdfc !important; }

.pack-complete-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.pack-complete-text, .pack-complete-percentage-label {
  margin-top: 0;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: center; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .pack-complete-text, .pack-complete-percentage-label {
      font-size: .75em; } }
  @media only screen and (max-width: 800px) and (orientation: landscape) {
    .pack-complete-text, .pack-complete-percentage-label {
      line-height: 1em; } }

@media only screen and (orientation: portrait), only screen and (max-width: 800px) {
  .btn-label {
    margin-bottom: .25em; } }

.pack-complete-percentage {
  align-self: center;
  font-size: 5em;
  margin: 0; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .pack-complete-percentage {
      font-size: 3em; } }

.pack-complete-percentage-label {
  margin-top: .5em;
  margin-bottom: 0.15em; }

.pack-complete-btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }

.pack-complete-modal-btn {
  margin-top: -7.5em;
  display: flex;
  width: 85%;
  justify-content: space-between; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .pack-complete-modal-btn {
      margin-top: -4.5em;
      width: 90%; } }
  @media only screen and (max-width: 800px) and (orientation: landscape) {
    .pack-complete-modal-btn {
      margin-top: -3.5em;
      width: 97%; } }

.pack-complete-exit-btn, .pack-complete-restart-btn {
  position: relative;
  align-self: center;
  font-size: 3em;
  transition: opacity .25s; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .pack-complete-exit-btn, .pack-complete-restart-btn {
      font-size: 2em; } }

.open {
  visibility: visible !important;
  opacity: 1 !important; }

.hidden {
  visibility: hidden;
  opacity: 0;
  overflow: hidden; }

.level-pack-background {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  visibility: hidden;
  opacity: 0;
  transition: visibility .25s, opacity .25s; }

.level-pack, .dashboard {
  box-sizing: border-box;
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1em;
  width: 75vw;
  height: 80vh;
  visibility: hidden;
  opacity: 0;
  transition: visibility .25s, opacity .25s; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .level-pack, .dashboard {
      width: 90vw;
      height: 80vh; } }

.pack-open {
  visibility: visible;
  opacity: 1; }

.level-pack-inner {
  padding: 1em 2em;
  position: relative; }

.pack-header {
  text-align: center; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .pack-header {
      margin-bottom: .25em; } }

.close-pack-btn {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 2em;
  transition: opacity .25s; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .close-pack-btn {
      top: .5em;
      right: .5em; } }

.close-pack-btn:hover {
  opacity: .75;
  cursor: pointer; }

.modal-open {
  overflow-y: hidden; }

.levels-grid {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 64vh; }
  @media only screen and (orientation: portrait) {
    .levels-grid {
      height: 60vh; } }
  @media only screen and (max-width: 800px) and (orientation: landscape) {
    .levels-grid {
      height: 40vh; } }

.level-btn {
  box-sizing: border-box;
  position: relative;
  flex: 0 1 calc(20% - 2em);
  margin: 1em;
  border-radius: 2em;
  transition: opacity .25s;
  align-self: flex-start;
  transition: opacity .25s; }
  @media only screen and (orientation: portrait) {
    .level-btn {
      flex-basis: calc(33.33% - 1em);
      margin: .5em;
      border-radius: 1em; } }
  @media only screen and (max-width: 800px) and (orientation: landscape) {
    .level-btn {
      border-radius: 1em;
      flex: 0 1 calc(20% - 1em);
      margin: .5em; } }

.level-btn:after {
  content: "";
  display: block;
  padding-bottom: 100%; }

.level-btn:hover {
  opacity: .75;
  cursor: pointer; }

.level-solved {
  border: .35em solid; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .level-solved {
      border: .25em solid; } }

.level-btn-text {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em; }

.dashboard {
  height: 65vh;
  z-index: 3;
  background-color: #b6b5d0;
  color: #252525;
  border: 0.5em solid #252525;
  border-radius: 1em; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .dashboard {
      height: 80vh; } }

.dashboard-bg {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(182, 181, 208, 0.35); }

.dashboard-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;
  width: 100%; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .dashboard-panel {
      height: 80vh; } }

.about-prism {
  padding: 1em 1.5em;
  line-height: 2em;
  font-size: 5em; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .about-prism {
      font-size: 3em; } }

.main-buttons {
  position: absolute;
  left: 85%;
  top: 50%;
  transform: translate(0%, -50%);
  font-size: 3em;
  transition: opacity .25s;
  display: flex;
  width: 10vw;
  justify-content: space-between; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .main-buttons {
      font-size: 1.5em;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 90%;
      width: 20vw; } }

.stats-wrapper-wrapper {
  width: fit-content;
  align-items: center; }

.stats-wrapper, .credits-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%; }

.credits-wrapper {
  align-items: center; }
  @media only screen and (max-width: 800px) and (orientation: landscape) {
    .credits-wrapper {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start; } }

@media only screen and (max-width: 800px) and (orientation: landscape) {
  .stats-wrapper {
    flex-direction: row;
    justify-content: space-around; } }

.stats-list, .credits-list {
  line-height: 2em;
  margin-top: 0;
  margin-bottom: 0; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .stats-list, .credits-list {
      line-height: 1.75em;
      font-size: 1em; } }

.credits-list {
  padding-left: 0; }

.credits-section {
  margin-bottom: 1em; }
  @media only screen and (max-width: 800px) and (orientation: landscape) {
    .credits-section {
      display: flex;
      flex-direction: column; } }
  @media only screen and (orientation: portrait) {
    .credits-section {
      margin-bottom: .5em; } }

.stats-header, .credits-header {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: .5em;
  text-align: center; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .stats-header, .credits-header {
      font-size: 1.75em;
      margin-bottom: .25em;
      margin-top: 0; } }
  @media only screen and (max-width: 800px) and (orientation: landscape) {
    .stats-header, .credits-header {
      font-size: 1.25em; } }

.credits-header {
  font-size: 1.75em; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .credits-header {
      font-size: 1.5em; } }

.stat {
  list-style: circle; }

.credit-item {
  list-style: none;
  text-align: center; }

.header {
  position: relative;
  text-align: center;
  padding-bottom: 1em; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .header {
      padding-bottom: 3em; } }

.prism {
  padding-top: .25em;
  display: inline-block;
  font-weight: 300;
  font-size: 7.5em; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .prism {
      font-weight: 400;
      font-size: 5em; } }
  .prism .P {
    color: #FF6978; }
  .prism .R {
    color: #4CEDDE; }
  .prism .I {
    color: #94EA54; }
  .prism .S {
    color: #b16cf5; }
  .prism .M {
    color: #5699fd; }

.prism:hover {
  cursor: default; }
  .prism:hover .P {
    color: #5699fd; }
  .prism:hover .R {
    color: #FF6978; }
  .prism:hover .I {
    color: #4CEDDE; }
  .prism:hover .S {
    color: #94EA54; }
  .prism:hover .M {
    color: #b16cf5; }

.letter {
  padding-left: 5px;
  padding-right: 5px;
  transition: all .125s; }

.subtitle {
  font-size: 1em; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .subtitle {
      font-size: .75em; } }

.subtitle:hover {
  cursor: default; }

.packs-container {
  display: flex;
  flex-flow: row wrap;
  position: relative; }

.pack-content {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column; }
  .pack-content p {
    margin: 0; }

.pack-content-info {
  opacity: 0;
  visibility: hidden;
  transition: visibility .25s, opacity .25s;
  font-size: 2vw; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .pack-content-info {
      display: none; } }

.completion {
  padding-bottom: 1em; }

.pack-content:hover > .pack-content-info {
  opacity: 1;
  visibility: visible; }

.difficulty {
  padding-top: 1em; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .difficulty {
      padding-top: 0em; } }

.pack-title {
  font-size: 3vw; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .pack-title {
      font-size: 5vw; } }

.packtutorial {
  order: -1; }

.pack {
  box-sizing: border-box;
  position: relative;
  flex: 0 1 calc(33.33% - 6em);
  margin: 3em;
  border-radius: 3em;
  transition: background-color .25s;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .pack {
      flex-basis: calc(50% - 2em);
      margin: 1em;
      border-radius: 1em; } }

.pack:after {
  content: "";
  display: block;
  padding-bottom: 100%; }

.pack:hover {
  cursor: pointer; }

.pack.packblack:hover, .pack.packblackcomplete:hover {
  background-color: rgba(70, 75, 99, 0.8); }

.pack.packwhite:hover, .pack.packwhitecomplete:hover {
  background-color: rgba(255, 243, 243, 0.8); }

.pack.packyellow:hover, .pack.packyellowcomplete:hover {
  background-color: rgba(255, 250, 108, 0.8); }

.pack.packcyan:hover, .pack.packcyancomplete:hover {
  background-color: rgba(76, 237, 222, 0.8); }

.pack.packmagenta:hover, .pack.packmagentacomplete:hover {
  background-color: rgba(177, 108, 245, 0.8); }

.pack.packred:hover, .pack.packredcomplete:hover {
  background-color: rgba(255, 105, 120, 0.8); }

.pack.packgreen:hover, .pack.packgreencomplete:hover {
  background-color: rgba(148, 234, 84, 0.8); }

.pack.packblue:hover, .pack.packbluecomplete:hover {
  background-color: rgba(86, 153, 253, 0.8); }

.packyellow, .packyellowcomplete {
  color: #52501b;
  background-color: #fffa6c;
  border: 0.35em solid #52501b; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .packyellow, .packyellowcomplete {
      border: 0.25em solid #52501b; } }

.packyellowcomplete {
  border: 1em solid #52501b; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .packyellowcomplete {
      border: 0.5em solid #52501b; } }

.packyellowbg {
  background-color: rgba(255, 250, 108, 0.35); }

.packcyan, .packcyancomplete {
  color: #173c38;
  background-color: #4CEDDE;
  border: 0.35em solid #173c38; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .packcyan, .packcyancomplete {
      border: 0.25em solid #173c38; } }

.packcyancomplete {
  border: 1em solid #173c38; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .packcyancomplete {
      border: 0.5em solid #173c38; } }

.packcyanbg {
  background-color: rgba(76, 237, 222, 0.35); }

.packblack, .packblackcomplete {
  color: #252525;
  background-color: #464B63;
  border: 0.35em solid #252525; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .packblack, .packblackcomplete {
      border: 0.25em solid #252525; } }

.packblackcomplete {
  border: 1em solid #252525; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .packblackcomplete {
      border: 0.5em solid #252525; } }

.packblackbg {
  background-color: rgba(70, 75, 99, 0.35); }

.packwhite, .packwhitecomplete {
  color: #6f6f6f;
  background-color: #fff3f3;
  border: 0.35em solid #6f6f6f; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .packwhite, .packwhitecomplete {
      border: 0.25em solid #6f6f6f; } }

.packwhitecomplete {
  border: 1em solid #6f6f6f; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .packwhitecomplete {
      border: 0.5em solid #6f6f6f; } }

.packwhitebg {
  background-color: rgba(255, 243, 243, 0.35); }

.packred, .packredcomplete {
  color: #4e0009;
  background-color: #FF6978;
  border: 0.35em solid #4e0009; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .packred, .packredcomplete {
      border: 0.25em solid #4e0009; } }

.packredcomplete {
  border: 1em solid #4e0009; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .packredcomplete {
      border: 0.5em solid #4e0009; } }

.packredbg {
  background-color: rgba(255, 105, 120, 0.35); }

.packblue, .packbluecomplete {
  color: #003179;
  background-color: #5699fd;
  border: 0.35em solid #003179; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .packblue, .packbluecomplete {
      border: 0.25em solid #003179; } }

.packbluecomplete {
  border: 1em solid #003179; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .packbluecomplete {
      border: 0.5em solid #003179; } }

.packbluebg {
  background-color: rgba(86, 153, 253, 0.35); }

.packgreen, .packgreencomplete {
  color: #225000;
  background-color: #94EA54;
  border: 0.35em solid #225000; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .packgreen, .packgreencomplete {
      border: 0.25em solid #225000; } }

.packgreencomplete {
  border: 1em solid #225000; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .packgreencomplete {
      border: 0.5em solid #225000; } }

.packgreenbg {
  background-color: rgba(148, 234, 84, 0.35); }

.packmagenta, .packmagentacomplete {
  color: #4b2e67;
  background-color: #b16cf5;
  border: 0.35em solid #4b2e67; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .packmagenta, .packmagentacomplete {
      border: 0.25em solid #4b2e67; } }

.packmagentacomplete {
  border: 1em solid #4b2e67; }
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    .packmagentacomplete {
      border: 0.5em solid #4b2e67; } }

.packmagentabg {
  background-color: rgba(177, 108, 245, 0.35); }

.game-area-yellow {
  color: #52501b;
  background-color: #fffa6c; }

.game-area-cyan {
  color: #173c38;
  background-color: #4CEDDE; }

.game-area-white {
  color: #6f6f6f;
  background-color: #fffdfc; }

.game-area-black {
  color: #252525;
  background-color: #464B63; }

.game-area-red {
  color: #4e0009;
  background-color: #FF6978; }

.game-area-green {
  color: #225000;
  background-color: #94EA54; }

.game-area-blue {
  color: #003179;
  background-color: #5699fd; }

.game-area-magenta {
  color: #4b2e67;
  background-color: #b16cf5; }

.game-wrapper-yellow {
  background-color: #fffcc0; }

.game-wrapper-cyan {
  background-color: #6bfff2; }

.game-wrapper-white {
  background-color: #fff3f3; }

.game-wrapper-black {
  background-color: #5a5979; }

.game-wrapper-red {
  background-color: #ff919c; }

.game-wrapper-green {
  background-color: #baff87; }

.game-wrapper-blue {
  background-color: #6aa5ff; }

.game-wrapper-magenta {
  background-color: #c182ff; }

.btn-yellow {
  background-color: #fffcc0; }

.btn-cyan {
  background-color: #6bfff2; }

.btn-white {
  background-color: #fffdfc; }

.btn-black {
  background-color: #5a5979; }

.btn-red {
  background-color: #ff919c; }

.btn-green {
  background-color: #baff87; }

.btn-blue {
  background-color: #6aa5ff; }

.btn-magenta {
  background-color: #c182ff; }

/*# sourceMappingURL=index.css.map */
