@mixin mobile {
  @media only screen and (orientation: portrait), only screen and (max-width: 800px) {
    @content;
  }
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

$white: #fffdfc;
$creamy-white: #fff3f3;
$dark-white: #6f6f6f;
$white-opaque: rgba(255, 253, 252, 0.35);
$white-less-opaque: rgba(255, 253, 252, 0.8);
$creamy-white-opaque: rgba(255, 243, 243, 0.35);
$creamy-white-less-opaque: rgba(255, 243, 243, 0.8);
$black: #464B63;
$dark-black: #252525;
$light-black: #5a5979;
$black-opaque: rgba(70, 75, 99, 0.35);
$black-less-opaque: rgba(70, 75, 99, 0.8);
$red: #FF6978;
$red-opaque: rgba(255, 105, 120, 0.35);
$red-less-opaque: rgba(255, 105, 120, 0.8);
$dark-red: #4e0009;
$light-red: #ff919c;
$green: #94EA54;
$dark-green: #225000;
$light-green: #baff87;
$green-opaque: rgba(148, 234, 84, 0.35);
$green-less-opaque: rgba(148, 234, 84, 0.8);
$blue: #5699fd;
$light-blue: #6aa5ff;
$dark-blue: #003179;
$blue-opaque: rgba(86, 153, 253, 0.35);
$blue-less-opaque: rgba(86, 153, 253, 0.8);
$magenta: #ff7bd6;
$dark-magenta: #700080;
$light-magenta: #ff99e0;
$magenta-opaque: rgba(255, 123, 214, 0.35);
$magenta-less-opaque: rgba(255, 123, 214, 0.8);
$cyan: #4CEDDE;
$dark-cyan: #173c38;
$light-cyan: #6bfff2;
$cyan-opaque: rgba(76, 237, 222, 0.35);
$cyan-less-opaque: rgba(76, 237, 222, 0.8);
$yellow: #fffa6c;
$dark-yellow: #52501b;
$light-yellow: #fffcc0;
$yellow-opaque: rgba(255, 250, 108, 0.35);
$yellow-less-opaque: rgba(255, 250, 108, 0.8);



body {
    background-color: $white;
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    color: $black;
}
.main-screen, .game-area {
    transition: visibility 0s, opacity .25s;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}
.game-area {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    @include mobile {
        flex-direction: column;
    }
}
.game-board-wrapper {
    flex: 2;
    padding: .5em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile {
        padding: 7em 0;
    }
}
.game-board:focus {
    outline: none;
}
.before-game-board {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    @include mobile {
        flex-direction: row;
    }
}
.after-game-board {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    @include mobile {
        flex-direction: row;
    }
}
.in-game-buttons {
    display: flex;
    align-items: center;
    flex-basis: 25%;
    @include mobile {
        justify-content: center;
    }
}
.return-home-btn, .help-btn, .sound-toggle-btn, .reset-btn, .hint-btn, .move-count {
    position: relative;
    font-size: 5em;
    transition: opacity .25s;
    @include mobile {
        font-size: 3em;
    }
}
.move-count:hover {
    cursor: default;
}
.return-home-btn:hover, .help-btn:hover, .sound-toggle-btn:hover, .reset-btn:hover, .hint-btn:hover {
    cursor: pointer;
    opacity: .75;    
}
.help-overlay {
    position: fixed;
    z-index: 2;
    background-color: rgba(70, 75, 99, 0.95);
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    transition: visibility .26s, opacity .25s;
    @include mobile {
        flex-direction: column;
    }
}
.venndiagram {
    height: 45vh;
    width: 60vh;
}
.help-text {
    color: $white;
    padding: 1em 1em;
    font-size: 3em;
    @include mobile {
        font-size: 1.25em;
        padding: 1em 2em;
    }
}
.help-overlay-close-btn {
    position: absolute;
    top: .5em;
    right: .5em;
    color: $white;
    font-size: 5em;
    transition: opacity .25s;
    @include mobile {
        font-size: 3em;
    }
}
.help-overlay-close-btn:hover {
    opacity: .75;
    cursor: pointer;   
}

.open {
    visibility: visible;
    opacity: 1;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}

.level-pack-background {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    visibility: hidden;
    opacity: 0;
    transition: visibility .25s, opacity .25s;
}
.level-pack {
    box-sizing: border-box;
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1em;
    width: 75vw;
    height: 80vh;
    visibility: hidden;
    opacity: 0;
    transition: visibility .25s, opacity .25s;
    @include mobile {
        width: 90vw;
        height: 80vh;
    }
}
.pack-open {
    visibility: visible;
    opacity: 1;
}
.level-pack-inner {
    padding: 1em 2em;
    position: relative;
}
.pack-header {
    text-align: center;
}
.close-pack-btn {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 2em;
    transition: opacity .25s;
    @include mobile {
        top: .5em;
        right: .5em;
    }
}
.close-pack-btn:hover {
    opacity: .75;
    cursor: 
    pointer;
}
.modal-open {
    overflow-y: hidden;
}
.levels-grid {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 64vh;
    @include mobile {
        height: 60vh;
    }
}
.level-btn {
    box-sizing: border-box;
    position: relative;
    flex: 0 1 calc(20% - 2em);
    margin: 1em;
    border-radius: 2em;
    transition: opacity .25s;
    align-self: flex-start;
    @include mobile {
        flex-basis: calc(33.33% - 1em);
        margin: .5em;
        border-radius: 1em;
    }
    transition: opacity .25s;
}
.level-btn:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.level-btn:hover {
    opacity: .75;
    cursor: pointer;    
}
.level-solved {
    border: .35em solid;
    @include mobile {
        border: .25em solid;
    }
}

.level-btn-text {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.dashboard {
    margin: 2em;
    background-color: $creamy-white;
    border-radius: 1em;
}
.dashboard-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-list, .leaderboards-list {
    line-height: 2em;
    margin-top: 0;
    align-self: left;
}
.stats-header, .leaderboards-header, .daily-challenge-header {
    font-weight: 300;
    margin-bottom: .5em;
}

.header {
	text-align: center;
}
.prism {
    padding-top: .25em;
	display: inline-block;
    font-weight: 300;
    font-size: 7.5em;
    @include mobile {
    	font-weight: 400;
        font-size: 5em;
    }
    .P {
        color: $red;
    }
    .R {
        color: $cyan;
    }
    .I {
        color: $green;
    }
    .S {
        color: $magenta;
    }
    .M {
        color: $blue;
    }
}
.prism:hover {
	cursor: default;
    .P {
        color: $blue;
    }
    .R {
        color: $red;
    }
    .I {
        color: $cyan;
    }
    .S {
        color: $green;
    }
    .M {
        color: $magenta;
    }
}
.letter {
    padding-left: 5px;
    padding-right: 5px;
    transition: all .125s;
}
.subtitle {
	font-size: 1em;
	@include mobile {
		font-size: .75em;
	}
}
.subtitle:hover {
	cursor: default;
}
.packs-container {
    display: flex;
    flex-flow: row wrap;
    position: relative;
}
.pack-content {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    p {
        margin: 0;
    }
}
.pack-content-info {
    opacity: 0;
    visibility: hidden;
    transition: visibility .25s, opacity .25s;
    font-size: 2vw;
    @include mobile {
        display: none;
    }
}
.completion {
    padding-bottom: 1em;
}
.pack-content:hover > .pack-content-info {
    opacity: 1;
    visibility: visible;
}
.difficulty {
    padding-top: 1em;
    @include mobile {
        padding-top: 0em;
    }
}
.pack-title {
    font-size: 3vw;
    @include mobile {
        font-size: 5vw;
    }
}
.pack {
    box-sizing: border-box;
    position: relative;
    flex: 0 1 calc(33.33% - 6em);
    margin: 3em;
    border-radius: 3em;
    transition: background-color .25s;
    @include mobile {
        flex-basis: calc(50% - 2em);
        margin: 1em;
        border-radius: 1em;
    }
}
.pack:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.pack:hover {
    cursor: pointer;
}
.pack.packblack:hover {
    background-color: $black-less-opaque;
}
.pack.packwhite:hover {
    background-color: $creamy-white-less-opaque;
}
.pack.packyellow:hover {
    background-color: $yellow-less-opaque;
}
.pack.packcyan:hover {
    background-color: $cyan-less-opaque;
}
.pack.packmagenta:hover {
    background-color: $magenta-less-opaque;
}
.pack.packred:hover {
    background-color: $red-less-opaque;
}
.pack.packgreen:hover {
    background-color: $green-less-opaque;
}
.pack.packblue:hover {
    background-color: $blue-less-opaque;
}

.packyellow {
    color: $dark-yellow;
    background-color: $yellow;
    border: .35em solid $dark-yellow;
    @include mobile {
        border: .25em solid $dark-yellow;
    }
}
.packyellowbg {
    background-color: $yellow-opaque;
}
.packcyan {
    color: $dark-cyan;
    background-color: $cyan;
    border: .35em solid $dark-cyan;
    @include mobile {
        border: .25em solid $dark-cyan;
    }
}
.packcyanbg {
    background-color: $cyan-opaque;
}
.packblack {
    color: $dark-black;
    background-color: $black;
    border: .35em solid $dark-black;
    @include mobile {
        border: .25em solid $dark-black;
    }
}
.packblackbg {
    background-color: $black-opaque;
}
.packwhite {
    color: $dark-white;
    background-color: $creamy-white;
    border: .35em solid $dark-white;
    @include mobile {
        border: .25em solid $dark-white;
    }
}
.packwhitebg {
    background-color: $creamy-white-opaque;
}
.packred {
    color: $dark-red;
    background-color: $red;
    border: .35em solid $dark-red;
    @include mobile {
        border: .25em solid $dark-red;
    }
}
.packredbg {
    background-color: $red-opaque;
}
.packblue {
    color: $dark-blue;
    background-color: $blue;
    border: .35em solid $dark-blue;
    @include mobile {
        border: .25em solid $dark-blue;
    }
}
.packbluebg {
    background-color: $blue-opaque;
}
.packgreen {
    color: $dark-green;
    background-color: $green;
    border: .35em solid $dark-green;
    @include mobile {
        border: .25em solid $dark-green;
    }
}
.packgreenbg {
    background-color: $green-opaque;
}
.packmagenta {
    color: $dark-magenta;
    background-color: $magenta;
    border: .35em solid $dark-magenta;
    @include mobile {
        border: .25em solid $dark-magenta;
    }
}
.packmagentabg {
    background-color: $magenta-opaque;
}
.game-area-yellow {
    color: $dark-yellow;
    background-color: $yellow;
}
.game-area-cyan {
    color: $dark-cyan;
    background-color: $cyan;
}
.game-area-white {
    color: $dark-white;
    background-color: $white;
}
.game-area-black {
    color: $dark-black;
    background-color: $black;
}
.game-area-red {
    color: $dark-red;
    background-color: $red;
}
.game-area-green {
    color: $dark-green;
    background-color: $green;
}
.game-area-blue {
    color: $dark-blue;
    background-color: $blue;
}
.game-area-magenta {
    color: $dark-magenta;
    background-color: $magenta;
}
.game-wrapper-yellow {
    background-color: $light-yellow;
}
.game-wrapper-cyan {
    background-color: $light-cyan;
}

.game-wrapper-white {
    background-color: $creamy-white;
}
.game-wrapper-black {
    background-color: $light-black;
}
.game-wrapper-red {
    background-color: $light-red;
    
}
.game-wrapper-green {
    background-color: $light-green;
    
}
.game-wrapper-blue {
    background-color: $light-blue;
    
}
.game-wrapper-magenta {
    background-color: $light-magenta;
}
.btn-yellow {
    background-color: $light-yellow;
}
.btn-cyan {
    background-color: $light-cyan;
}
.btn-white {
    background-color: $white;
}
.btn-black {
    background-color: $light-black;
}
.btn-red {
    background-color: $light-red;
}
.btn-green {
    background-color: $light-green;
}
.btn-blue {
    background-color: $light-blue;
}
.btn-magenta {
    background-color: $light-magenta;
}